<script lang="ts">
  import { getVersion } from '@tauri-apps/api/app';

  import { appName } from '../store/settings';

  import Page from '../component/Page.svelte';

  let version = getVersion();
</script>

<Page title={appName + ' - Secure Encryption and Transfer Tool'}>
  <!-- Links to doc and source code -->
  <div class="centered">
    <h2>Documentation and download links</h2>
    <div class="row-with-links">
      <a
        rel="noopener noreferrer"
        href="https://biomedit.gitlab.io/docs/sett/"
        target="_blank">Documentation</a
      >
      <a
        rel="noopener noreferrer"
        href="https://biomedit.gitlab.io/docs/sett/download_sett"
        target="_blank">Download</a
      >
      <a
        rel="noopener noreferrer"
        href="https://gitlab.com/biomedit/sett-rs/-/issues"
        target="_blank">Report an issue</a
      >
      <a
        rel="noopener noreferrer"
        href="https://gitlab.com/biomedit/sett-rs"
        target="_blank">Source code</a
      >
    </div>
  </div>

  <!-- Application metadata -->
  <div class="centered">
    <h2>About {appName}</h2>

    <div class="app-metadata">
      <strong>What is {appName}?</strong>
      <span class="col-2">
        Transferring sensitive data over a possibly unsafe network in a secure
        way is not a trivial task.
        <em>{appName}</em> is an application that automates the encryption, compression,
        packaging, and transfer of data over the network, ensuring data remains safe
        at all times and can only be read by the intended data recipient.
      </span>
      <strong>Version</strong>
      <span class="col-2">
        {#await version}
          loading...
        {:then versionNumber}
          {versionNumber}
        {:catch error}
          Unable to load the version number: {error}
        {/await}
      </span>
      <strong>License</strong>
      <span class="col-2">
        <em>{appName}</em> is licensed under the
        <a
          rel="noopener noreferrer"
          href="https://www.gnu.org/licenses/gpl-3.0.en.html"
          target="_blank">GNU General Public License 3.0</a
        >
      </span>
      <strong>Developers</strong>
      <span class="col-2"
        ><em>{appName}</em> is developed as part of the
        <a rel="noopener noreferrer" href="https://biomedit.ch" target="_blank"
          >BioMedIT</a
        > project
      </span>
      <strong>Download</strong>
      <span class="col-2">
        <em>{appName}</em> comes in two flavours: a desktop app (the one you're
        looking at) and a command line tool (CLI). Available for these
        platforms:
        <a
          rel="noopener noreferrer"
          href="https://biomedit.gitlab.io/docs/sett/download_sett"
          target="_blank">Linux, Windows and Mac OS</a
        >
      </span>
      <strong>Technologies</strong>
      <span class="col-2">
        <em>{appName}</em> encrypts data using the OpenPGP protocol as
        implemented by the
        <a
          rel="noopener noreferrer"
          href="https://sequoia-pgp.org"
          target="_blank">Sequoia-PGP</a
        > library.
      </span>
    </div>
  </div>

  <!-- BioMedIT logo -->
  <picture>
    <source srcset="biomedit-dark.svg" media="(prefers-color-scheme: dark)" />
    <img src="biomedit-light.svg" alt="BioMedIT logo" class="logo" />
  </picture>
</Page>

<style>
  h2 {
    text-align: center;
    margin-top: 1.5rem;
  }

  img {
    max-width: 20%;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }

  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .row-with-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .app-metadata {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    gap: 0.5rem;
    justify-items: end;
    margin: auto;
  }

  .col-2 {
    justify-self: start;
    max-width: 38rem;
  }
</style>
