<script lang="ts">
  import { decryptOpts, type DecryptOpts } from '../store/workflow';
  import { NotificationLevel, toasts } from '../store/event';
  import { pkgMetadataAsTable, selectPackage } from './utils';
  import { tasks } from '../store/task';

  import ButtonWorkflow from '../component/ButtonWorkflow.svelte';
  import DirectorySelector from '../component/DirectorySelector.svelte';
  import DropZone from '../component/DropZone.svelte';
  import Page from '../component/Page.svelte';
  import PasswordDialog from '../component/PasswordDialog.svelte';
  import Section from '../component/Section.svelte';

  let password = '';
  let showPasswordDialog = false;
  let submitDisabled = false;
  $: hideDestination = $decryptOpts.package === '';
  $: hideDecryptButton = hideDestination || $decryptOpts.destination === '';

  async function handleSubmit() {
    showPasswordDialog = false;
    submitDisabled = true;
    const opts: DecryptOpts = {
      kind: 'decrypt',
      package: $decryptOpts.package,
      destination: $decryptOpts.destination,
      metadata: $decryptOpts.metadata,
      password,
    };
    try {
      await tasks.check(opts);
    } catch (e) {
      toasts.add({
        level: NotificationLevel.Error,
        message: e as string,
        timeout: 5000,
        dismissible: true,
      });
      submitDisabled = false;
      return;
    }
    tasks.add(opts);
    toasts.add({
      level: NotificationLevel.Info,
      message: 'Decryption job submitted',
      timeout: 5000,
      dismissible: true,
    });

    // Reset the form.
    password = '';
    decryptOpts.update((opts: DecryptOpts) => ({
      ...opts,
      package: '',
      metadata: null,
    }));
    submitDisabled = false;
  }
</script>

<Page title="Decrypt">
  <form on:submit|preventDefault={() => (showPasswordDialog = true)}>
    <Section title="Select data package to decrypt">
      <DropZone
        clearItem={() => decryptOpts.updatePackage('')}
        dataAsTable={$decryptOpts.package
          ? pkgMetadataAsTable($decryptOpts)
          : null}
        selectItem={() => selectPackage(decryptOpts.updatePackage)}
        selectItemTooltip={'Select a data package to decrypt'}
        helpText={'Drag and drop a data package, or click the button to select one.'}
      />
    </Section>

    <Section title="Select destination directory" hidden={hideDestination}>
      <div class="directory-selector">
        <DirectorySelector
          bind:selectedDir={$decryptOpts.destination}
          helpText="Select directory to save the decrypted data."
        />
      </div>
    </Section>

    <ButtonWorkflow
      bind:disabled={submitDisabled}
      hidden={hideDecryptButton}
      icon="Unlock"
      text="Decrypt package"
      tooltip="Extract data into the selected directory"
    />
  </form>
</Page>

<PasswordDialog
  bind:show={showPasswordDialog}
  bind:password
  on:submit={handleSubmit}
  label="Recipient OpenPGP key password"
  buttonLabel="Decrypt"
  buttonIcon="Unlock"
/>

<style>
  .directory-selector {
    padding-left: 0.5em;
  }
</style>
