<script lang="ts">
  import { selectDirectory } from './utils';
  import { settingsStore } from '../store/settings';

  import Button from '../component/Button.svelte';
  import CheckboxInput from '../component/CheckboxInput.svelte';
  import CopyToClipboard from '../component/CopyToClipboard.svelte';
  import Dialog from '../component/Dialog.svelte';
  import ElementWithTooltip from '../component/ElementWithTooltip.svelte';
  import Page from '../component/Page.svelte';

  let showResetConfirmationDialog = false;
  let nonEditableSettings = [
    [
      'Log file path',
      $settingsStore.logFile,
      "Location of the application's log file",
    ],
    [
      'Keyserver URL',
      $settingsStore.keyserverURL,
      'URL of the keyserver for download/upload of OpenPGP keys',
    ],
  ];

  const resetSettings = () => {
    showResetConfirmationDialog = false;
    settingsStore.reset();
  };
</script>

<Page title="Settings">
  <div class="verify-pkg-setting">
    <CheckboxInput
      name="verifyPackage"
      bind:checked={$settingsStore.verifyPackage}
      tooltip="Enable verification of data package metadata with Portal"
    >
      <strong>Verify package</strong> (metadata verification using Portal)
    </CheckboxInput>
  </div>

  <div class="text-fields">
    <div>
      <label for="portalURL">Portal URL</label>
      <input
        type="text"
        name="portalURL"
        placeholder="Portal URL"
        bind:value={$settingsStore.portalURL}
        autocapitalize="none"
      />
    </div>
    <div>
      <label for="defaultOutputDir">Default output directory</label>
      <span class="text-field-with-button">
        <Button
          size="x-small"
          icon="Folder"
          color="secondary"
          on:click={() =>
            selectDirectory(
              (selected) => ($settingsStore.defaultOutputDir = selected),
            )}
          tooltip="Change directory"
          tooltipPosition="bottom"
          tooltipDirection="to-right"
        />
        <input
          class="text-muted"
          type="text"
          name="defaultOutputDir"
          readonly
          bind:value={$settingsStore.defaultOutputDir}
        />
      </span>
    </div>
    <div class="reset-button">
      <Button
        icon="ArrowUturnLeft"
        color="secondary"
        text="Reset settings"
        tooltip="Reset all settings to their default values"
        on:click={() => (showResetConfirmationDialog = true)}
      />
    </div>
    <div>
      <h2>Non-editable settings</h2>
      <div class="grid">
        {#each nonEditableSettings as [description, value, tooltip]}
          <ElementWithTooltip {tooltip} compactTooltip>
            <span>{description}</span>
          </ElementWithTooltip>
          <span class="text-muted">{value}</span>
          <span>
            <CopyToClipboard
              toCopy={value}
              successMsg={`${description} copied to clipboard`}
              text={null}
              tooltip={`Copy ${description} to clipboard`}
            />
          </span>
        {/each}
      </div>
    </div>
  </div>
</Page>

<Dialog bind:show={showResetConfirmationDialog} title="Confirm settings reset">
  <form on:submit|preventDefault={resetSettings}>
    <div class="reset-dialog">
      <p>Are you sure to reset all settings to their default values ?</p>
      <div class="button-with-cancel">
        <Button
          color="secondary"
          text="Cancel"
          on:click={() => (showResetConfirmationDialog = false)}
        />
        <Button
          color="primary"
          type="submit"
          text="Reset settings"
          icon="ArrowUturnLeft"
        />
      </div>
    </div>
  </form>
</Dialog>

<style>
  .text-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
    & label {
      font-weight: bold;
    }
    & input {
      /* Make input box span the entire width of parent container.*/
      width: 100%;
      padding: 0.3rem;
    }
  }

  .text-field-with-button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .reset-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
  }

  .reset-dialog {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .button-with-cancel {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 1em;
  }

  .text-muted {
    color: var(--color-text-muted);
  }

  .verify-pkg-setting {
    width: max-content;
  }
</style>
