<script lang="ts">
  import {
    destinationKind,
    transferOpts,
    type TransferOpts,
  } from '../store/transfer';
  import { NotificationLevel, toasts } from '../store/event';
  import { pkgMetadataAsTable, selectPackage } from './utils';
  import { transferS3Props, transferSftpProps } from '../store/destination';
  import { setContext } from 'svelte';
  import { settingsStore } from '../store/settings';
  import { tasks } from '../store/task';

  import ButtonWorkflow from '../component/ButtonWorkflow.svelte';
  import Destination from '../component/Destination.svelte';
  import DropZone from '../component/DropZone.svelte';
  import Page from '../component/Page.svelte';
  import Section from '../component/Section.svelte';

  let submitDisabled = false;
  $: hideDestination = $transferOpts.package === '';
  $: hideTransferButton = $transferOpts.package === '';

  setContext('store', {
    s3Props: transferS3Props,
    sftpProps: transferSftpProps,
  });

  const handleSubmit = async () => {
    submitDisabled = true;
    let props;
    if ($destinationKind === 'sftp') {
      props = $transferSftpProps;
    } else {
      props = $transferS3Props;
    }
    transferOpts.updateDestination({
      kind: $destinationKind,
      props,
    });
    const opts: TransferOpts = {
      kind: 'transfer',
      package: $transferOpts.package,
      metadata: $transferOpts.metadata,
      destination: $transferOpts.destination,
      verifyPackage: $settingsStore.verifyPackage,
      portalUrl: $settingsStore.portalURL,
    };
    try {
      await tasks.check(opts);
    } catch (e) {
      toasts.add({
        level: NotificationLevel.Error,
        message: e as string,
        timeout: 5000,
        dismissible: true,
      });
      submitDisabled = false;
      return;
    }
    tasks.add(opts);
    toasts.add({
      level: NotificationLevel.Info,
      message: 'Transfer job submitted',
      timeout: 5000,
      dismissible: true,
    });

    // Reset the form.
    transferS3Props.reset();
    transferSftpProps.reset();
    transferOpts.update((s) => ({
      ...s,
      package: '',
      metadata: null,
      destination: null,
    }));
    submitDisabled = false;
  };
</script>

<!-- Using a form because of validation -->
<form on:submit|preventDefault={handleSubmit}>
  <Page title="Transfer">
    <Section title="Select data package to transfer">
      <DropZone
        clearItem={() => transferOpts.updatePackage('')}
        dataAsTable={$transferOpts.package
          ? pkgMetadataAsTable($transferOpts)
          : null}
        selectItem={() => selectPackage(transferOpts.updatePackage)}
        selectItemTooltip={'Select a data package to transfer'}
        helpText={'Drag and drop a data package, or click the button to select one.'}
      />
    </Section>

    <Section title="Choose destination" hidden={hideDestination}>
      <Destination
        bind:destinationKind={$destinationKind}
        destinations={['s3', 'sftp']}
      />
    </Section>

    <ButtonWorkflow
      bind:disabled={submitDisabled}
      hidden={hideTransferButton}
      icon="Send"
      text="Send package"
      tooltip="Send the encrypted data package to the selected destination"
    />
  </Page>
</form>
