:root {
  --color-white: #f6f6f6;
  --color-accent: #e30613;

  --color-text: #2f2f2f;
  --color-text-muted: #9ca3af;
  --color-bg: #f6f6f6;
  --color-component-bg: #e6e6e6;
  --color-link: #7099c1;
  --color-link-hover: #3c648a;
  --color-primary: #50b798;
  --color-primary-bright: #58cca9;
  --color-gray: #d0d0d0;
  --color-gray-bright: hsl(0, 0%, 90%);
  --color-light-gray: #eaeaea;
  --color-info: hsl(210 50% 50%);
  --color-success: hsl(120 50% 45%);
  --color-warning: #f57c00;
  --color-error: hsl(0 50% 50%);

  --tooltip-delay: 1s;
  --focus-outline: 2px solid #11a6b1;
  --focus-border-radius: 3px;

  font-family: system-ui;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root[data-theme='dark'] {
  --color-text: #f6f6f6;
  --color-text-muted: #6b7280;
  --color-bg: #2f2f2f;
  --color-component-bg: #232323;
  --color-link: #3c648a;
  --color-link-hover: #7099c1;
  --color-primary: #38806a;
  --color-gray: #4b4b4b;
  --color-light-gray: #5c5a5a;
  --color-info: hsl(210 50% 30%);
  --color-success: hsl(120 80% 30%);
  --color-error: hsl(0 80% 45%);
}

body {
  overflow: hidden;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;

  &:hover {
    color: var(--color-link-hover);
  }
}

button {
  cursor: pointer;
  padding: 0;
}

*:disabled {
  cursor: not-allowed;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

input {
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-gray);
  padding: 0.2em 0.4em;

  &::placeholder {
    color: var(--color-text-muted);
  }
}

label {
  &.required::after {
    content: '*';
    color: red;
    margin-left: 0.3rem;
  }
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}
