<script lang="ts">
  import { NotificationLevel } from '../store/event';

  import CheckCircle from './CheckCircle.svelte';
  import ExclamationCircle from './ExclamationCircle.svelte';
  import ExclamationTriangle from './ExclamationTriangle.svelte';
  import InformationCircle from './InformationCircle.svelte';

  export let level: NotificationLevel = NotificationLevel.Info;
</script>

<div>
  {#if level === NotificationLevel.Info}
    <InformationCircle />
  {:else if level === NotificationLevel.Success}
    <CheckCircle />
  {:else if level === NotificationLevel.Warning}
    <ExclamationTriangle />
  {:else if level === NotificationLevel.Error}
    <ExclamationCircle />
  {/if}
</div>

<style>
  div {
    display: inline-flex;
    /* min-width and -height to prevent icon from scaling */
    min-height: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
</style>
