<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { type CertInfo, CertType } from '../../../store/cert';
  import { appName } from '../../../store/settings';
  import { NotificationLevel } from '../../../store/event';

  import Alert from '../../../component/Alert.svelte';
  import Badge from '../../../component/Badge.svelte';
  import Button from '../../../component/Button.svelte';
  import PasswordDialog from '../../../component/PasswordDialog.svelte';

  export let certInfo: CertInfo;
  export let certType: CertType;
  export let refreshCertStore: () => void;

  let status: 'error' | 'initial' | 'pending' | 'success' = 'initial';
  let errorMsg = '';
  let password = '';
  let showPasswordDialog = false;

  async function importCert(password: string | null) {
    status = 'pending';

    try {
      await invoke('import_cert_from_gnupg', {
        identifier: certInfo.fingerprint,
        certType,
        password,
      });
      status = 'success';
    } catch (e) {
      status = 'error';
      errorMsg = e as string;
    }
    refreshCertStore();
  }

  const onDismiss = () => {
    status = 'initial';
    refreshCertStore();
  };
</script>

<div>
  <div class="row">
    {#if status === 'initial'}
      <Button
        color="secondary"
        text="Import"
        icon="ArrowDownTray"
        size="x-small"
        tooltip={'Import this key into the keystore of ' + appName}
        tooltipPosition="bottom"
        tooltipDirection="to-right"
        on:click={() =>
          certType === CertType.Secret
            ? (showPasswordDialog = true)
            : importCert(null)}
      />
    {:else if status === 'pending'}
      <Badge text="Pending" color="blue" tooltip="Key import in progress..." />
    {:else if status === 'success'}
      <Badge
        text="Imported"
        color="green"
        tooltip="Key successfully imported"
      />
    {:else if status === 'error'}
      <Badge
        text="Failed"
        color="red"
        tooltip={'Error importing key: ' + errorMsg}
      />
    {/if}
    <span>{certInfo.userid || ''} {certInfo.fingerprint}</span>
  </div>
  {#if status === 'error'}
    <div class="alert">
      <Alert
        level={NotificationLevel.Error}
        showIcon={false}
        dismissible={true}
        {onDismiss}>{errorMsg}</Alert
      >
    </div>
  {/if}
</div>

<PasswordDialog
  bind:show={showPasswordDialog}
  bind:password
  label="Private key password"
  buttonLabel="Import key"
  buttonIcon="ArrowDownTray"
  on:submit={async () => {
    showPasswordDialog = false;
    importCert(password);
  }}
/>

<style>
  .alert {
    max-width: 60vw;
  }

  .row {
    margin: 0.5em 0;
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
</style>
