<script lang="ts">
  export let value: number;
</script>

<div class="container">
  <div class="progress">
    <div style="width: {value}%"></div>
  </div>
  <span>{value}%</span>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & > span {
      width: 4rch;
      min-width: 4rch;
    }
  }

  .progress {
    min-width: 10rem;
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    background-color: var(--color-gray);

    & > div {
      height: 100%;
      border-radius: inherit;
      background-color: var(--color-primary);
    }
  }
</style>
