<script lang="ts">
  import { pkgMetadataAsTable, senderAndRecipientsAsTable } from '../utils';
  import { type Task, tasks, TaskState } from '../../store/task';
  import { type EncryptOpts } from '../../store/encrypt';
  import { NotificationLevel } from '../../store/event';
  import type { TableRow } from '../../component/utils';

  import Alert from '../../component/Alert.svelte';
  import Badge from '../../component/Badge.svelte';
  import Button from '../../component/Button.svelte';
  import ElementWithTooltip from '../../component/ElementWithTooltip.svelte';
  import LockIcon from '../../icon/Lock.svelte';
  import Progress from './Progress.svelte';
  import SendIcon from '../../icon/Send.svelte';
  import Table from '../../component/Table.svelte';
  import UnlockIcon from '../../icon/Unlock.svelte';

  const encryptOptsAsTable = (opts: EncryptOpts) => {
    return [
      { key: 'Files', value: opts.files.join(', ') },
      ...senderAndRecipientsAsTable(opts.signer, opts.recipients),
      {
        key: 'Transfer ID',
        value: opts.transferId ? opts.transferId.toString() : '-',
      },
    ];
  };

  function appendDestination(rows: TableRow[], destination: string | null) {
    return destination
      ? [...rows, { key: 'Destination', value: destination }]
      : rows;
  }

  function taskStateToColor(s: TaskState) {
    switch (s) {
      case TaskState.Finished:
        return 'green';
      case TaskState.Error:
        return 'red';
      default:
        return 'blue';
    }
  }

  export let task: Task;
  let collapsed = true;
  let iconTooltip =
    task.opts.kind[0].toUpperCase() + task.opts.kind.substring(1) + ' task';
</script>

<div class="task">
  <div>
    <ElementWithTooltip tooltip={iconTooltip} compactTooltip>
      <div class="icon">
        {#if task.opts.kind === 'encrypt'}
          <LockIcon />
        {:else if task.opts.kind === 'decrypt'}
          <UnlockIcon />
        {:else if task.opts.kind === 'transfer'}
          <SendIcon />
        {/if}
      </div>
    </ElementWithTooltip>
    <div class="progress">
      <Progress value={task.progress} />
    </div>
    <Badge text={task.state.toLowerCase()} color={taskStateToColor(task.state)}
    ></Badge>
    <div class="timestamp">
      <Table
        type="compact"
        data={[
          { key: 'Started:', value: task.started?.toLocaleString() ?? '-' },
          {
            key: [TaskState.Error, TaskState.Finished].includes(task.state)
              ? 'Ended:'
              : 'Updated:',
            value: task.updated?.toLocaleString() ?? '-',
          },
        ]}
      />
    </div>

    <div>
      <Button
        icon={collapsed ? 'ChevronDown' : 'ChevronUp'}
        size="x-small"
        tooltip={collapsed ? 'Show task details' : 'Hide task details'}
        tooltipPosition="bottom"
        tooltipDirection="to-left"
        on:click={() => (collapsed = !collapsed)}
      />
      {#if task.state !== TaskState.Running}
        <Button
          icon="XMark"
          size="x-small"
          tooltip="Remove task from list"
          tooltipPosition="bottom"
          tooltipDirection="to-left"
          on:click={() => tasks.remove(task.id)}
        />
      {/if}
    </div>
  </div>

  {#if !!task.message && task.state === TaskState.Error}
    <Alert level={NotificationLevel.Error}>{task.message}</Alert>
  {/if}
  <div class:collapsed>
    {#if task.opts.kind === 'decrypt'}
      <Table
        data={appendDestination(
          pkgMetadataAsTable(task.opts),
          task.destination,
        )}
      />
    {:else if task.opts.kind === 'transfer'}
      <Table
        data={appendDestination(
          pkgMetadataAsTable(task.opts),
          task.destination,
        )}
      />
    {:else if task.opts.kind === 'encrypt'}
      <Table
        data={appendDestination(
          encryptOptsAsTable(task.opts),
          task.destination,
        )}
      />
    {/if}
  </div>
</div>

<style>
  .task {
    background-color: var(--color-component-bg);

    & > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;

      &.collapsed {
        display: none;
      }
    }
  }

  .icon {
    width: 1.7rem;
  }

  .progress {
    flex: 1;
  }

  .timestamp {
    min-width: 12.5em;
  }
</style>
