<script lang="ts">
  import { tasks } from '../../store/task';

  import Alert from '../../component/Alert.svelte';
  import Task from './Task.svelte';
</script>

<div class="tasks">
  {#if $tasks.length > 0}
    {#each $tasks as task}
      <Task {task} />
    {/each}
  {:else}
    <div>
      <Alert
        >Currently there are no encrypt, decrypt, or transfer tasks submitted.
      </Alert>
    </div>
  {/if}
</div>

<style>
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
  }
</style>
