<script lang="ts">
  import { approvalStore, certStore } from './lib/store/cert';
  import {
    listenFileDrop,
    listenTaskEvent,
    listenThemeChange,
    listenUnhandledRejection,
  } from './lib/listener';
  import { NotificationLevel, toasts } from './lib/store/event';
  import { route, Route } from './lib/store/route';
  import { tasks, TaskState } from './lib/store/task';
  import { onMount } from 'svelte';
  import { settingsStore } from './lib/store/settings';

  import About from './lib/page/About.svelte';
  import Certs from './lib/page/cert/Certs.svelte';
  import Decrypt from './lib/page/Decrypt.svelte';
  import Encrypt from './lib/page/Encrypt.svelte';
  import NavItem from './lib/component/NavItem.svelte';
  import Settings from './lib/page/Settings.svelte';
  import Tasks from './lib/page/task/Tasks.svelte';
  import Toasts from './lib/component/Toasts.svelte';
  import Transfer from './lib/page/Transfer.svelte';

  // Reload keys from disk, and update approval statuses from portal.
  async function reloadCertsAndRefreshApprovals() {
    try {
      await certStore.refresh();
    } catch (e) {
      throw new Error(`Failed to load keys from local keystore: ${e}`);
    }
    try {
      await approvalStore.refresh($certStore);
    } catch (e) {
      throw new Error(`Failed to retrieve approval status from portal: ${e}`);
    }
  }

  // Wrapper function for `reloadCertsAndRefreshApprovals`, that displays
  // failure messages as toasts, and optionally a success message.
  function refreshCertStore(showSuccessToast = false) {
    reloadCertsAndRefreshApprovals()
      .then(() => {
        if (showSuccessToast) {
          toasts.add({
            level: NotificationLevel.Success,
            message: 'OpenPGP keys reloaded from disk',
            timeout: 2000,
            dismissible: false,
          });
        }
      })
      .catch((e) => {
        toasts.add({
          level: NotificationLevel.Error,
          message: e as string,
          timeout: 10000,
          dismissible: true,
        });
      });
  }

  onMount(async () => {
    listenUnhandledRejection();
    listenThemeChange();
    await listenFileDrop();
    await listenTaskEvent();
    await settingsStore.load();
    refreshCertStore();
  });

  $: unfinishedTasksCount = $tasks.filter(
    (t) => t.state === TaskState.Pending || t.state === TaskState.Running,
  ).length;
</script>

<Toasts />

<div class="app-window">
  <nav>
    <ul>
      <li>
        <NavItem
          path={Route.Encrypt}
          icon="Lock"
          tooltip="Encrypt and transfer data"
        />
      </li>
      <li>
        <NavItem
          path={Route.Transfer}
          icon="Send"
          tooltip="Transfer data packages"
        />
      </li>
      <li>
        <NavItem
          path={Route.Decrypt}
          icon="Unlock"
          tooltip="Decrypt data packages"
        />
      </li>
      <li>
        <NavItem path={Route.Certs} icon="Key" tooltip="Manage OpenPGP keys" />
      </li>
      <li>
        <NavItem
          path={Route.Tasks}
          icon="List"
          tooltip="Show running and completed tasks"
          badge={unfinishedTasksCount}
        />
      </li>
      <li class="push">
        <NavItem path={Route.Settings} icon="Cog6Tooth" tooltip="Settings" />
      </li>
      <li>
        <NavItem path={Route.About} icon="Info" tooltip="About" />
      </li>
    </ul>
  </nav>

  <div class="content">
    {#if $route === Route.Encrypt}
      <Encrypt />
    {:else if $route === Route.Transfer}
      <Transfer />
    {:else if $route === Route.Decrypt}
      <Decrypt />
    {:else if $route === Route.Certs}
      <Certs {refreshCertStore} />
    {:else if $route === Route.Settings}
      <Settings />
    {:else if $route === Route.Tasks}
      <Tasks />
    {:else if $route === Route.About}
      <About />
    {/if}
  </div>
</div>

<style>
  .app-window {
    display: flex;
    height: 100vh;
  }

  nav {
    flex: 0 0 auto;
    background-color: var(--color-component-bg);
    padding: 0.75rem;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;
    }
  }

  .push {
    margin-top: auto;
  }

  .content {
    flex: 1 1 auto;
    overflow: scroll;
    padding: 0 1rem;
  }
</style>
