<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import type { CertInfo } from '../../store/cert';
  import { NotificationLevel } from '../../store/event';

  import Alert from '../../component/Alert.svelte';
  import Button from '../../component/Button.svelte';
  import CopyToClipboard from '../../component/CopyToClipboard.svelte';
  import Dialog from '../../component/Dialog.svelte';
  import RadioInput from '../../component/RadioInput.svelte';
  import SecretInput from '../../component/SecretInput.svelte';

  export let cert: CertInfo;
  export let onClose: () => void;

  const reasons = [
    ['Compromised', 'Private key material has (or may have) been compromised.'],
    [
      'Superseded',
      `The private key has been replaced by a new one.\
      The message should contain the fingerprint of the new key.`,
    ],
    [
      'Retired',
      `This public key should not be used anymore and there is no\
      replacement key. This reason is appropriate e.g. when\
      leaving an organization.`,
    ],
    [
      'Unspecified',
      `None of the above reasons apply.\
      "Unspecified" can be used when creating a revocation signature in advance\
      (a specific reason is unknown at that time).\
      Otherwise, it is preferable to use a specific reason.`,
    ],
  ];

  let show = true;
  let password = '';
  let disabled = true;
  let reason = '';
  let message = '';
  let errorMsg = '';
  let revocationSignature = '';

  $: if (!show) onClose();
  $: disabled = [password, reason, message].some((v) => v.length == 0);

  async function generate() {
    disabled = true;
    errorMsg = '';
    try {
      revocationSignature = (
        await invoke<string>('generate_rev_sig', {
          fingerprint: cert.fingerprint,
          reason,
          message,
          password,
        })
      ).trim();
    } catch (e) {
      errorMsg = e as string;
    }
  }
</script>

<Dialog
  bind:show
  title="Create revocation signature"
  closeOnBackdropClick={false}
>
  {#if revocationSignature === ''}
    <form on:submit|preventDefault={generate}>
      {#if errorMsg !== ''}
        <Alert level={NotificationLevel.Error}
          >Failed to generate a revocation signature: {errorMsg}</Alert
        >
      {/if}
      <p>
        Create a revocation signature for: <strong
          >{cert.userid ?? cert.fingerprint}</strong
        >
      </p>
      <fieldset>
        <legend>Reason</legend>
        <div>
          {#each reasons as [name, description]}
            <RadioInput value={name} required bind:group={reason}>
              <strong>{name}</strong>: {description}
            </RadioInput>
          {/each}
        </div>
      </fieldset>
      <div class="grid-layout">
        <label for="message" class="required">Message</label>
        <input
          bind:value={message}
          id="message"
          name="message"
          required
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          placeholder="A short explanation for the key revocation"
        />
        <label for="password" class="required">Password</label>
        <SecretInput
          bind:userInput={password}
          required
          id="password"
          placeholder="Password of private key"
        />
      </div>
      <div class="button-layout">
        <Button color="secondary" text="Cancel" on:click={onClose} />
        <Button
          color={disabled ? 'secondary' : 'primary'}
          text="Generate signature"
          type="submit"
          icon="Cog8Tooth"
          tooltip="Generate a revocation signature for the specified PGP key"
          bind:disabled
        />
      </div>
    </form>
  {:else}
    <Alert level={NotificationLevel.Success}
      >Revocation signature generated successfully</Alert
    >
    <p>
      A revocation signature has been successfully generated. Please copy it to
      the clipboard. It can then be used to revoke your key immediately, or it
      can be stored in a safe location for a later use.
    </p>
    <pre>{revocationSignature}</pre>
    <span class="button-layout">
      <CopyToClipboard
        toCopy={revocationSignature}
        successMsg="Revocation signature copied to clipboard"
        tooltip="Copy revocation signature to clipboard"
      />
      <Button color="secondary" text="Close" on:click={onClose} />
    </span>
  {/if}
</Dialog>

<style>
  p {
    margin: 1em 0;
  }

  pre {
    padding: 1em;
    margin: 1em 0;
    background-color: var(--color-component-bg);
    overflow-x: auto;
  }

  legend {
    font-weight: bold;
    padding: 0 0.5rem;
    &::after {
      content: '*';
      color: red;
      margin-left: 0.3rem;
    }
  }

  fieldset {
    margin-bottom: 1rem;
    border: 1px solid var(--color-text);
  }

  .grid-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    align-items: center;
  }

  .button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
  }
</style>
