<script lang="ts">
  import {
    type CertInfo,
    certStorePath,
    CertType,
    getCertPath,
  } from '../../store/cert';
  import { appName } from '../../store/settings';
  import { certTypeAsString } from '../utils';
  import { NotificationLevel } from '../../store/event';

  import Alert from '../../component/Alert.svelte';
  import Button from '../../component/Button.svelte';
  import CopyToClipboard from '../../component/CopyToClipboard.svelte';
  import Dialog from '../../component/Dialog.svelte';

  let show = true;
  $: certPath = getCertPath(cert.fingerprint, cert.certType, $certStorePath);

  export let cert: CertInfo;
  export let onClose: () => void;
  $: if (!show) onClose();
</script>

<Dialog bind:show title={`Delete ${certTypeAsString(cert.certType)} key`}>
  <Alert level={NotificationLevel.Warning}>
    {#if cert.certType === CertType.Secret}
      <p>
        <strong>Important:</strong> deleting
        <strong>private keys</strong> is strongly discouraged. Deleting this key
        will make it impossible to decrypt data encrypted for you with the public
        counterpart of this key.
      </p>
    {:else}
      <p>Deleting public keys is discouraged.</p>
    {/if}
  </Alert>
  <p>
    Deleting {certTypeAsString(cert.certType)} keys from the local keystore is intentionally
    <strong>not possible with {appName}.</strong>
    {#if cert.certType === CertType.Secret}
      Users are encouraged to <strong>revoke their key</strong> instead.
    {/if}
  </p>
  <p>
    If you nevertheless wish to delete this key, it is possible to do so by
    <strong>manually deleting the key file</strong> from your operating system.
  </p>

  <p>The path of this key file is the following:</p>
  <pre>{certPath}</pre>
  <div class="button-layout">
    <CopyToClipboard
      toCopy={certPath}
      successMsg="key file path copied to clipboard"
      tooltip="Copy key file path to clipboard"
    />
    <Button color="secondary" text="Close" on:click={onClose} />
  </div>
</Dialog>

<style>
  p {
    margin: 0.8em 0;
  }

  pre {
    padding: 0.5em 1em;
    margin: 1em 0;
    background-color: var(--color-component-bg);
    overflow-x: auto;
  }

  .button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
