<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { NotificationLevel, toasts } from '../../store/event';
  import { type CertInfo } from '../../store/cert';

  import Button from '../../component/Button.svelte';
  import Dialog from '../../component/Dialog.svelte';
  import LoadCertOrSig from './LoadCertOrSig.svelte';

  export let onClose: () => void;
  export let refreshCertStore: () => void;

  let textInput = '';
  let filePath = '';
  let inputIsValid = false;
  let show = true;
  $: if (!show) onClose();

  async function importCert() {
    try {
      let importedCerts: CertInfo[];
      if (textInput) {
        importedCerts = await invoke<CertInfo[]>('import_cert_from_string', {
          data: textInput,
        });
      } else {
        importedCerts = await invoke<CertInfo[]>('import_cert_from_file', {
          path: filePath,
        });
      }
      importedCerts.map((cert) =>
        toasts.add({
          level: NotificationLevel.Success,
          message: `Successfully imported '${[cert.userid, cert.fingerprint]
            .filter((x) => x)
            .join(' ')}'`,
          timeout: 5000,
          dismissible: false,
        }),
      );
      refreshCertStore();
      show = false;
    } catch (e) {
      toasts.add({
        level: NotificationLevel.Error,
        message: e as string,
        timeout: 5000,
        dismissible: false,
      });
    }
  }
</script>

<Dialog bind:show title="Import OpenPGP key from file">
  <p>Select an OpenPGP key file to import.</p>

  <LoadCertOrSig
    type="cert"
    allowBinary
    bind:textInput
    bind:filePath
    bind:inputIsValid
  />

  <div class="btn-group">
    <Button color="secondary" text="Cancel" on:click={() => (show = false)} />
    <Button
      text="Import key"
      icon="ArrowDownTray"
      color={inputIsValid ? 'primary' : 'secondary'}
      tooltip="Import the selected OpenPGP key to the application's keystore"
      disabled={!inputIsValid}
      on:click={importCert}
    />
  </div>
</Dialog>

<style>
  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
