<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { type CertInfo } from '../../store/cert';
  import { NotificationLevel } from '../../store/event';
  import { settingsStore } from '../../store/settings';

  import Alert from '../../component/Alert.svelte';
  import Button from '../../component/Button.svelte';
  import Dialog from '../../component/Dialog.svelte';

  let identifier = '';
  let disabled = true;
  let state: 'error' | 'initial' | 'pending' | 'success' = 'initial';
  let errorMsg = '';
  let certs: CertInfo[] = [];
  let show = true;

  // Regexp that matches OpenPGP fingerprints or email addresses.
  let validationRegexp =
    '^[a-fA-F0-9]{40}$|^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$';

  export let onClose: () => void;
  export let refreshCertStore: () => void;

  $: if (!show) onClose();
  $: disabled = identifier.length == 0 || state === 'pending';

  async function importCert() {
    state = 'pending';
    try {
      certs = await invoke<CertInfo[]>('import_cert_from_keyserver', {
        identifier,
      });
      state = 'success';
    } catch (e) {
      state = 'error';
      errorMsg = e as string;
    }
    refreshCertStore();
    identifier = '';
  }
</script>

<Dialog bind:show title="Import OpenPGP key from keyserver">
  {#if state === 'success'}
    {#each certs as cert}
      <Alert level={NotificationLevel.Success}
        >Successfully imported {`"${cert.userid || ''} ${
          cert.fingerprint
        }"`}</Alert
      >
      <div class="btn-group">
        <Button
          color="secondary"
          text="Close"
          on:click={() => (show = false)}
        />
      </div>
    {/each}
  {:else}
    {#if state === 'error'}
      <div class="alert">
        <Alert level={NotificationLevel.Error}>{errorMsg}</Alert>
      </div>
    {/if}
    <form on:submit|preventDefault={importCert}>
      <p>
        Enter the full email or fingerprint of the OpenPGP key to download and
        import.
      </p>
      <p>Keys are downloaded from: {$settingsStore.keyserverURL}</p>
      <div class="grid-layout">
        <label for="identifier">Key identifier</label>
        <input
          id="identifier"
          bind:value={identifier}
          type="text"
          required
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          placeholder="Enter key fingerprint or email"
          pattern={validationRegexp}
          title="Enter a valid email or fingerprint (40 hexadecimal characters)."
        />
      </div>
      <div class="btn-group">
        <Button
          color="secondary"
          text="Cancel"
          on:click={() => (show = false)}
        />
        <Button
          color={disabled ? 'secondary' : 'primary'}
          type="submit"
          icon="ArrowDownTray"
          tooltip="Download and import the specified key from keyserver"
          {disabled}
          text={state === 'pending' ? 'Importing...' : 'Import key'}
        />
      </div>
    </form>
  {/if}
</Dialog>

<style>
  label {
    font-weight: bold;
  }

  .alert {
    margin-bottom: 1em;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
  }
</style>
