<script lang="ts">
  import { homeDir } from '@tauri-apps/api/path';
  import { open } from '@tauri-apps/api/dialog';
  import { readText } from '@tauri-apps/api/clipboard';

  import { NotificationLevel } from '../../store/event';
  import { readTextFile } from '@tauri-apps/api/fs';

  import Alert from '../../component/Alert.svelte';
  import Button from '../../component/Button.svelte';
  import Chip from '../../component/Chip.svelte';

  export let type: 'cert' | 'signature';
  export let allowBinary = false;
  export let textInput = '';
  export let filePath = '';
  export let inputIsValid = false;

  let alertMsg = '';
  let alertLevel: NotificationLevel;
  $: updateValidity(textInput);

  const description =
    type === 'cert' ? 'OpenPGP key' : 'OpenPGP revocation signature';
  const markers =
    type === 'cert'
      ? [
          '-----BEGIN PGP PUBLIC KEY BLOCK-----',
          '-----BEGIN PGP PRIVATE KEY BLOCK-----',
        ]
      : ['-----BEGIN PGP SIGNATURE-----'];

  function isValidKeyOrSig(certOrSigAsString: string) {
    const trimmed = certOrSigAsString.trim();
    for (let marker of markers) {
      if (
        trimmed.startsWith(marker) &&
        trimmed.endsWith(marker.replace('BEGIN', 'END'))
      )
        return true;
    }
    return false;
  }

  function clearInput() {
    textInput = '';
    filePath = '';
    updateValidity(textInput);
  }

  function updateValidity(input: string) {
    if (!input) {
      inputIsValid = false;
      alertMsg = '';
      alertLevel = NotificationLevel.Warning;
    } else {
      inputIsValid = isValidKeyOrSig(input);
      alertLevel = inputIsValid
        ? NotificationLevel.Success
        : NotificationLevel.Warning;
      alertMsg = `${inputIsValid ? 'Valid' : 'Invalid'} ${description} format`;
    }
  }

  async function loadFromClipboard() {
    clearInput();
    textInput = (await readText())?.trim() || '';
    if (textInput === '') {
      alertLevel = NotificationLevel.Warning;
      alertMsg = 'Clipboard is empty';
    }
  }

  async function loadFromFile() {
    const selected = await open({
      multiple: false,
      directory: false,
      defaultPath: await homeDir(),
    });
    if (selected !== null && !Array.isArray(selected)) {
      clearInput();
      try {
        textInput = (await readTextFile(selected)).trim();
        if (textInput === '') {
          alertLevel = NotificationLevel.Warning;
          alertMsg = 'File is empty';
        }
      } catch (e) {
        if (allowBinary) {
          filePath = selected;
          textInput = '';
          inputIsValid = true;
        } else {
          alertLevel = NotificationLevel.Warning;
          alertMsg = 'Invalid file. ' + e;
        }
      }
    }
  }
</script>

<div class="btn-group">
  <Button
    color="secondary"
    text="Import from file"
    icon="DocumentArrowUp"
    tooltip={'Browse for file containing an ' + description}
    tooltipPosition="top"
    tooltipDirection="to-right"
    on:click={loadFromFile}
  />
  <Button
    color="secondary"
    text="Paste from clipboard"
    icon="ClipboardDocumentList"
    tooltip="Paste content from clipboard"
    tooltipPosition="top"
    tooltipDirection="center"
    on:click={loadFromClipboard}
  />
  <Button
    color="secondary"
    text="Clear"
    icon="Trash"
    tooltip="Clear all inputs"
    tooltipPosition="top"
    tooltipDirection="center"
    on:click={clearInput}
  />
</div>
<div class="user-input">
  {#if alertMsg}
    <div class="alert">
      <Alert
        level={alertLevel}
        roundCorners
        dismissible={textInput === ''}
        onDismiss={clearInput}
      >
        {alertMsg}
      </Alert>
    </div>
  {/if}
  <div class:hidden={filePath !== ''}>
    <textarea
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
      cols="64"
      rows="12"
      placeholder={"Begins with '" + markers.join("' or \n'") + "'"}
      required
      wrap="off"
      bind:value={textInput}
    />
  </div>
  <div class="input-is-path" class:hidden={filePath === ''}>
    <p>Import OpenPGP key from the following binary file:</p>
    <Chip onClear={clearInput}>
      {filePath}
    </Chip>
  </div>
</div>

<style>
  textarea {
    display: block;
    resize: none;
    padding: 0.8rem;
    width: 100%;
    min-height: inherit;
  }

  .user-input {
    min-height: 16rem;
    min-width: 39rem;
    margin: 0.8rem 0;
  }

  .btn-group {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0 0.8rem 0;
  }

  .input-is-path {
    padding: 0.8rem;
    min-height: inherit;
    border: 1px solid var(--color-text-muted);
    border-radius: 0.3em;
    overflow: auto;

    & p {
      margin-bottom: 0.5rem;
    }
  }

  .alert {
    margin-bottom: 0.3rem;
  }
</style>
