<script lang="ts">
  import { NotificationLevel } from '../store/event';

  import Button from './Button.svelte';
  import NotificationLevelIcon from '../icon/NotificationLevel.svelte';

  export let level: NotificationLevel = NotificationLevel.Info;
  export let showIcon = true;
  export let dismissible = false;
  export let onDismiss: () => void = () => {};
  export let roundCorners = false;
</script>

<div class={level.toLowerCase()} class:round-corners={roundCorners}>
  {#if showIcon}
    <NotificationLevelIcon {level} />
  {/if}
  <slot />
  {#if dismissible}
    <span class="push-to-end">
      <Button
        icon="XMark"
        color="inherit-color"
        size="x-small"
        tooltip="Dismiss notification"
        on:click={onDismiss}
      />
    </span>
  {/if}
</div>

<style>
  div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    margin-left: auto;
    color: var(--color-white);
  }

  .info {
    background-color: var(--color-info);
  }

  .success {
    background-color: var(--color-success);
  }

  .warning {
    background-color: var(--color-warning);
  }

  .error {
    background-color: var(--color-error);
  }

  .round-corners {
    border-radius: 0.3em;
  }

  .push-to-end {
    margin-left: auto;
  }
</style>
