<script lang="ts">
  import { type TooltipDirection, type TooltipPosition } from './utils';

  import ElementWithTooltip from './ElementWithTooltip.svelte';

  export let text: string;
  export let color: 'blue' | 'green' | 'orange' | 'red';
  export let tooltip: string | null = null;
  export let tooltipPosition: TooltipPosition = 'bottom';
  export let tooltipDirection: TooltipDirection = 'to-right';
</script>

<div class="badge-pill {color}">
  <ElementWithTooltip {tooltip} {tooltipPosition} {tooltipDirection}>
    <span class="badge-text">
      {text}
    </span>
  </ElementWithTooltip>
</div>

<style>
  .badge-pill {
    position: relative;
    border-radius: 0.8rem;
  }

  .badge-text {
    padding: 0 0.7rem;
    color: var(--color-white);
    text-align: center;
    text-transform: capitalize;
  }

  .blue {
    background-color: var(--color-info);
  }

  .green {
    background-color: var(--color-success);
  }

  .orange {
    background-color: var(--color-warning);
  }

  .red {
    background-color: var(--color-error);
  }
</style>
