<script lang="ts">
  import { type ButtonIcon } from './utils';

  import Button from './Button.svelte';

  export let hidden = false;
  export let text = '';
  export let tooltip = '';
  export let icon: ButtonIcon = null;
  export let disabled = false;
</script>

<div class:hidden>
  <Button
    size="medium"
    color="primary"
    type="submit"
    {icon}
    {text}
    {tooltip}
    tooltipPosition="right"
    {disabled}
  />
</div>
