<script lang="ts">
  import { type TooltipDirection, type TooltipPosition } from './utils';

  import ElementWithTooltip from './ElementWithTooltip.svelte';

  export let name: string;
  export let checked: boolean;
  export let autofocus: boolean = false;
  export let tooltip: string | null = null;
  export let tooltipPosition: TooltipPosition = 'top';
  export let tooltipDirection: TooltipDirection = 'to-right';
</script>

<ElementWithTooltip {tooltip} {tooltipPosition} {tooltipDirection}>
  <label class="checkbox-with-label">
    <slot />
    <!-- svelte-ignore a11y-autofocus -->
    <input {name} {autofocus} type="checkbox" bind:checked />
    <span class="checkmark" />
  </label>
</ElementWithTooltip>

<style>
  /* Customize the label */
  .checkbox-with-label {
    display: block;
    position: relative;
    padding-left: 2.2rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    user-select: none;
  }

  /* Hide the browser's default checkbox and radio button */
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      /* When the checkbox is checked, add a background */
      & ~ .checkmark {
        background-color: var(--color-success);

        /* Show the checkmark when checked */
        &:after {
          display: block;
        }
      }
    }

    & ~ .checkmark {
      /* Create the indicator (the dot/circle - hidden when not checked) */
      &:after {
        content: '';
        position: absolute;
        display: none;
      }

      /* when hovering over checkbox/radio button, change color */
      &:hover {
        background-color: var(--color-light-gray);
      }
    }
  }

  input[type='checkbox'] {
    /* Create a custom checkbox */
    & ~ .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 1.5rem;
      width: 1.5rem;
      background-color: var(--color-gray);

      /* Style the checkmark/indicator */
      &:after {
        left: 9px;
        top: 5px;
        width: 6px;
        height: 12px;
        border: solid var(--color-text);
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }
</style>
