<script lang="ts">
  import XCircle from '../icon/XCircle.svelte';

  export let value = '';
  export let name = '';
  export let id = '';
  export let placeholder = '';
  export let readonly = false;
  export let onClick: () => void;
</script>

<div>
  <input
    type="text"
    {name}
    {id}
    {placeholder}
    {readonly}
    on:click={onClick}
    {value}
    autocapitalize="none"
    autocomplete="off"
    autocorrect="off"
  />
  <button
    type="button"
    aria-label="Clear input"
    on:click|preventDefault={() => (value = '')}
    class:hidden={!value}
  >
    <XCircle />
  </button>
</div>

<style>
  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 2px;
    height: 1.3rem;
    width: 1.3rem;
    background-color: inherit;
    border: none;
  }

  div {
    position: relative;
  }

  input {
    width: 100%;
    padding: 0.3rem;
    margin: 0.3rem 0;
  }
</style>
