<script lang="ts">
  import type {
    DestinationKind,
    LocalProps,
    S3Props,
    SftpProps,
  } from '../store/destination';
  import { getContext } from 'svelte';
  import { type Writable } from 'svelte/store';

  import DirectorySelector from './DirectorySelector.svelte';
  import S3 from './S3.svelte';
  import Sftp from './Sftp.svelte';

  export let destinationKind: DestinationKind = 's3';
  export let destinations: DestinationKind[];

  const { s3Props, sftpProps, localProps } = getContext('store') as {
    s3Props: Writable<S3Props>;
    sftpProps: Writable<SftpProps>;
    localProps: Writable<LocalProps>;
  };
</script>

<fieldset class={destinationKind}>
  <legend>
    <select bind:value={destinationKind}>
      {#each destinations as option}
        <option value={option}>{option}</option>
      {/each}
    </select>
  </legend>
  {#if destinationKind === 's3'}
    <S3
      bind:url={$s3Props.url}
      bind:bucket={$s3Props.bucket}
      bind:accessKey={$s3Props.accessKey}
      bind:secretKey={$s3Props.secretKey}
      bind:sessionToken={$s3Props.sessionToken}
    />
  {:else if destinationKind === 'sftp'}
    <Sftp
      bind:username={$sftpProps.username}
      bind:host={$sftpProps.host}
      bind:basePath={$sftpProps.basePath}
      bind:sshKey={$sftpProps.sshKey}
    />
  {:else if destinationKind === 'local'}
    <DirectorySelector
      bind:selectedDir={$localProps}
      helpText="Select directory to save the encrypted data package."
    />
  {/if}
</fieldset>

<style>
  fieldset {
    padding: 1rem;
    min-height: 15rlh;
    border: 1px solid var(--color-text);

    &.local {
      min-height: 9rem;
    }
  }

  select {
    width: 10rem;
    font-size: 1.1rem;
    border: 1px solid var(--color-text);
  }
</style>
