<script lang="ts">
  export let show: boolean;
  export let title = '';
  export let closeOnBackdropClick: boolean = true;

  let dialog: HTMLDialogElement;

  $: if (dialog && show) dialog.showModal();
  $: if (dialog && !show) dialog.close();
</script>

<!-- svelte-ignore a11y-click-events-have-key-events a11y-no-noninteractive-element-interactions -->
<dialog
  bind:this={dialog}
  on:close={() => (show = false)}
  on:click|self={() => closeOnBackdropClick && dialog.close()}
>
  <!-- svelte-ignore a11y-no-static-element-interactions -->
  <div on:click|stopPropagation>
    {#if title !== ''}
      <header>
        <h1>{title}</h1>
      </header>
    {/if}
    <slot />
  </div>
</dialog>

<style>
  dialog {
    color: var(--color-text);
    background-color: var(--color-bg);
    border-radius: 0.3rem;
    border: none;
    padding: 0;
    max-width: 75%;

    & > div {
      padding: 1em;
    }
  }

  dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    @media (prefers-color-scheme: dark) {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  dialog[open] {
    animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  @keyframes zoom {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }

  dialog[open]::backdrop {
    animation: fade 0.2s ease-out;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  h1 {
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 0.5rem;
  }

  header {
    flex: 0 1 auto;
    margin-bottom: 1rem;
  }
</style>
