<script lang="ts">
  import { isWriteable, selectDirectory } from '../page/utils';
  import { lastSelectedDir, settingsStore } from '../store/settings';

  import Button from './Button.svelte';
  import Chip from './Chip.svelte';

  export let selectedDir: string;
  export let helpText = '';
  let selectedDirWriteable: boolean;

  const handleSelectDir = () => {
    selectDirectory((selected) => {
      selectedDir = $lastSelectedDir = selected;
    });
  };

  $: if (selectedDir === '') {
    if ($lastSelectedDir) {
      selectedDir = $lastSelectedDir;
    } else {
      selectedDir = $lastSelectedDir = $settingsStore.defaultOutputDir;
    }
  }
  $: isWriteable(selectedDir).then((writeable) => {
    selectedDirWriteable = writeable;
  });
</script>

<div class="container">
  <div class="button-and-help-text">
    <Button
      icon="Folder"
      text="Select directory"
      color="secondary"
      size="small"
      on:click={handleSelectDir}
    />
    {#if helpText}
      <p class="muted-text">{helpText}</p>
    {/if}
  </div>
  <div class="selected-item">
    {#if selectedDir}
      <Chip
        icon={!selectedDirWriteable ? 'Warning' : undefined}
        tooltip={!selectedDirWriteable
          ? "Selected directory is not writeable. You probably won't be able to store files there."
          : undefined}
      >
        {selectedDir}
      </Chip>
    {:else}
      <p class="muted-text">No directory selected</p>
    {/if}
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-and-help-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }

  .selected-item {
    margin-top: 0.5em;
  }

  .muted-text {
    color: var(--color-text-muted);
  }
</style>
