<script lang="ts">
  import { type TooltipDirection, type TooltipPosition } from './utils';

  import Button from './Button.svelte';

  let hidden = true;
  let container: HTMLDivElement;

  function handleClickOutside(event: MouseEvent) {
    if (!container.contains(event.target as Node)) {
      hidden = true;
    }
  }

  export let text: string | null = null;
  export let outline = false;
  export let color: 'primary' | 'secondary' | 'transparent' = 'transparent';
  export let actions: { label: string; action: () => void }[] = [];
  export let direction: 'left' | 'right' = 'left';
  export let icon: 'EllipsisHorizontal' | 'PlusCircle' | null = null;
  export let tooltip: string | null = null;
  export let tooltipPosition: TooltipPosition = 'top';
  export let tooltipDirection: TooltipDirection = 'to-left';
</script>

<svelte:window on:click={handleClickOutside} />

<div bind:this={container} class="container">
  <Button
    {icon}
    {text}
    {outline}
    {color}
    {tooltip}
    {tooltipPosition}
    {tooltipDirection}
    on:click={() => (hidden = !hidden)}
  />
  <ul class:hidden class={direction}>
    {#each actions as { label, action }}
      <li>
        <button
          on:click={() => {
            hidden = true;
            action();
          }}>{label}</button
        >
      </li>
    {/each}
  </ul>
</div>

<style>
  ul {
    position: absolute;
    margin: 0.3rem 0 0 0;
    padding: 0;
    list-style: none;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

    & button {
      width: 100%;
      height: 100%;
      padding: 0.5em;
      color: var(--color-text);
      background-color: var(--color-bg);
      border: none;
      text-align: left;
      white-space: nowrap;

      &:hover {
        background-color: var(--color-gray);
      }
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .container {
    position: relative;
  }
</style>
