<script lang="ts">
  import { type FilePath, selectPaths } from '../store/encrypt';
  import { basename } from '../page/utils';
  import { fileDragStatus } from '../store/event';
  import { type TableRow } from './utils';

  import Button from './Button.svelte';
  import Chip from './Chip.svelte';
  import Table from './Table.svelte';

  // This component can be used to select files or directories via buttons
  // or drag-and-drop.
  // * selectItemLabel: label of button to select files.
  // * selectDirLabel: label of button to select directories. If `null`, no
  //   button to select directories is displayed.
  export let dataAsTable: TableRow[] | null = null;
  export let selectedItems: FilePath[] | null = null;
  export let selectItemLabel: string = 'Select file';
  export let selectDirLabel: string | null = null;
  export let selectItemTooltip: string | null = null;
  export let selectDirTooltip: string | null = null;
  export let helpText: string;
  export let clearItem: (item?: string) => void;
  export let selectItem = () => selectPaths(false);
  let selectDir = () => selectPaths(true);

  function dragEnter(event: DragEvent) {
    event.preventDefault();
    $fileDragStatus = true;
  }

  function dragLeave(event: DragEvent) {
    event.preventDefault();
    $fileDragStatus = false;
  }
</script>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<div
  class="drag-area"
  class:drag-over={$fileDragStatus}
  on:dragenter={dragEnter}
  on:dragleave={dragLeave}
>
  <div class="buttons-and-help-text no-drag-detect">
    <div class="buttons drag-detect">
      <Button
        icon="DocumentPlus"
        text={selectItemLabel}
        color="secondary"
        size="small"
        on:click={selectItem}
        tooltip={selectItemTooltip}
        tooltipPosition="top"
        tooltipDirection="to-right"
      />
      {#if selectDirLabel !== null}
        <Button
          icon="FolderPlus"
          text={selectDirLabel}
          color="secondary"
          size="small"
          on:click={selectDir}
          tooltip={selectDirTooltip}
          tooltipPosition="top"
          tooltipDirection="to-right"
        />
      {/if}
    </div>
    <p class="muted-text">{helpText}</p>
  </div>

  <div class="selected-items">
    {#if dataAsTable}
      <Chip onClear={() => clearItem()}>
        <Table data={dataAsTable} />
      </Chip>
    {:else if selectedItems?.length}
      {#each selectedItems as filePath}
        <Chip
          tooltip={filePath.path}
          onClear={() => clearItem(filePath.path)}
          icon={filePath.directory ? 'Folder' : null}
        >
          {basename(filePath.path)}
        </Chip>
      {/each}
    {:else}
      <p class="muted-text">No file selected.</p>
    {/if}
  </div>
</div>

<style>
  .buttons-and-help-text {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .buttons {
    display: flex;
    gap: 0.3em;
  }

  .muted-text {
    color: var(--color-text-muted);
  }

  .selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
  }

  .drag-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    border: 2px dashed var(--color-text-muted);
    padding: 0.7rem;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .drag-over {
    border-color: var(--color-text);
    background-color: var(--color-light-gray);
  }

  .no-drag-detect {
    /*
    Disables detection of dragenter/dragleave events.
    on:dragleave appears to be triggered also when entering a sub-element.
    This is suboptimal as it means that when drag-hovering over a sub-element
    in the drag-and-drop area, `isDragging` becomes false.
    Disabling the detection of pointer events is a workaround for this.
    */
    pointer-events: none;
  }

  .drag-detect {
    /*
    Enable detection of dragenter/dragleave events. Additionally, this also
    enables other pointer events, such as a button click.
    */
    pointer-events: auto;
  }
</style>
