<script lang="ts">
  import { type TooltipDirection, type TooltipPosition } from './utils';

  import Tooltip from './Tooltip.svelte';

  export let tooltip: string | null = null;
  export let tooltipPosition: TooltipPosition = 'bottom';
  export let tooltipDirection: TooltipDirection = 'to-right';
  export let compactTooltip = false;
</script>

<div class="element-with-tooltip">
  <slot />
  <Tooltip
    ref="tooltip-element"
    text={tooltip}
    position={tooltipPosition}
    direction={tooltipDirection}
    compact={compactTooltip}
  />
</div>

<style>
  .element-with-tooltip {
    position: relative;

    &:hover :global([ref='tooltip-element']) {
      visibility: visible;
      transition-delay: var(--tooltip-delay);
    }
  }
</style>
