<script lang="ts">
  import { route, Route } from '../store/route';
  import { type ComponentType } from 'svelte';
  import { type NavItemIcon } from './utils';

  import Cog6Tooth from '../icon/Cog6Tooth.svelte';
  import Info from '../icon/Info.svelte';
  import Key from '../icon/Key.svelte';
  import List from '../icon/List.svelte';
  import Lock from '../icon/Lock.svelte';
  import Send from '../icon/Send.svelte';
  import Tooltip from './Tooltip.svelte';
  import Unlock from '../icon/Unlock.svelte';

  const iconMap: {
    [key: string]: ComponentType;
  } = {
    Cog6Tooth,
    Info,
    Key,
    List,
    Lock,
    Send,
    Unlock,
  };

  export let badge: number = 0;
  export let icon: NavItemIcon;
  export let path: Route;
  export let tooltip: string;
  $: selected = path === $route;

  function setRoute() {
    route.set(path);
  }
</script>

<button on:click={setRoute} class:selected>
  <div class="icon">
    <svelte:component this={iconMap[icon]} />
  </div>
  {#if badge > 0}
    <span class="badge">{badge}</span>
  {/if}
  <Tooltip ref="tooltip-navitem" text={tooltip} position="right" />
</button>

<style>
  button {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: inherit;
    color: inherit;
    border: none;
    padding: 0.2rem 0.1rem;

    &:hover .icon {
      scale: 1.25;
    }
    &:hover :global([ref='tooltip-navitem']) {
      visibility: visible;
      transition-delay: var(--tooltip-delay);
    }
    &:focus-visible {
      outline: var(--focus-outline);
      border-radius: var(--focus-border-radius);
    }
  }

  .badge {
    position: absolute;
    top: -0.2rem;
    right: -0.5rem;
    color: var(--color-white);
    background-color: var(--color-accent);
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
    font-weight: bold;
  }

  .selected {
    color: var(--color-accent);
  }
</style>
