<script lang="ts">
  export let title: string;
</script>

<div>
  <header>
    <h1>{title}</h1>
  </header>
  <main>
    <slot />
  </main>
</div>

<style>
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 0.5rem;
  }

  header {
    flex: 0 1 auto;
    margin: 1rem 0;
  }

  main {
    flex: 1 1 auto;
  }

  div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
</style>
