<script lang="ts">
  import Button from './Button.svelte';
  import Dialog from './Dialog.svelte';
  import SecretInput from './SecretInput.svelte';

  export let show = false;
  export let password: string;
  export let label: string = 'Password';
  export let buttonLabel: string = 'Submit';
  export let buttonIcon: 'ArrowDownTray' | 'Lock' | 'Unlock' | null = null;
  export let buttonTooltip: string | null = null;

  // Reset the password value when the dialog is closed.
  $: if (!show) password = '';
</script>

<Dialog bind:show>
  <form on:submit|preventDefault>
    <label for="password">{label}</label>
    <SecretInput
      bind:userInput={password}
      placeholder="•••••••••"
      required
      autofocus
      id="password"
    />
    <Button
      color="primary"
      type="submit"
      text={buttonLabel}
      icon={buttonIcon}
      tooltip={buttonTooltip}
      tooltipPosition="top"
      tooltipDirection="center"
    />
  </form>
</Dialog>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  label {
    font-weight: bold;
  }
</style>
