<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import MagnifyingGlass from '../icon/MagnifyingGlass.svelte';

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  export let items: { label: string; value: any }[];

  const dispatch = createEventDispatcher();

  let filterText = '';
  let placeholder = 'Search';
  let showList = false;
  let selected = -1;
  let input: HTMLInputElement;
  let container: HTMLDivElement;

  $: filtered = items.filter((item) => item.label.includes(filterText));
  $: if (filtered.length) {
    selectFirst();
  }

  function selectFirst() {
    if (filtered.length > 0) {
      selected = 0;
    }
  }

  function dismiss() {
    filterText = '';
    selected = -1;
    showList = false;
    input.blur();
  }

  function handleFocus() {
    input.focus();
    showList = true;
    selectFirst();
  }

  function handleKeydown(event: KeyboardEvent) {
    switch (event.key) {
      case 'Escape':
        dismiss();
        break;
      case 'Enter':
        handleSubmit();
        break;
      case 'ArrowDown':
        event.preventDefault();
        if (filtered.length > 0 && filtered.length > selected + 1) {
          showList = true;
          selected += 1;
        }
        break;
      case 'ArrowUp':
        event.preventDefault();
        if (filtered.length > 0 && selected > 0) {
          showList = true;
          selected -= 1;
        }
        break;
    }
  }

  function handleSubmit() {
    if (filtered.length > 0) {
      dispatch('selected', filtered[selected]);
      dismiss();
    }
  }

  function handleHover(index: number) {
    selected = index;
  }

  function scrollToElement(node: HTMLElement, scroll: boolean) {
    const update = (scroll: boolean) => {
      if (scroll) {
        node.scrollIntoView({ behavior: 'auto', block: 'nearest' });
      }
    };
    update(scroll);
    return {
      update,
    };
  }

  function handleClickOutside(event: MouseEvent) {
    if (event.target !== null && !container.contains(event.target as Node)) {
      dismiss();
    }
  }
</script>

<svelte:window on:click={handleClickOutside} />

<div class="container" bind:this={container}>
  <div class="input-field">
    <span><MagnifyingGlass /></span>
    <input
      type="text"
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
      bind:this={input}
      bind:value={filterText}
      on:keydown={handleKeydown}
      on:focus={handleFocus}
      {placeholder}
      disabled={items.length === 0}
    />
  </div>
  {#if showList}
    <ul>
      {#each filtered as item, i}
        <!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
        <li
          class:selected={selected === i}
          on:click|stopPropagation={handleSubmit}
          on:keydown|stopPropagation={handleSubmit}
          on:mouseover={() => handleHover(i)}
          on:focus={() => handleHover(i)}
          use:scrollToElement={selected === i}
        >
          {item.label}
        </li>
      {/each}
    </ul>
  {/if}
</div>

<style>
  .container {
    position: relative;
    background-color: var(--color-bg);

    & ul {
      background-color: inherit;
      margin: 0.3rem 0 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      overflow: auto;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
      max-height: 10rem;
      overflow-y: auto;
      & > li {
        padding: 0.3rem;
        cursor: pointer;

        &.selected {
          background-color: var(--color-gray);
        }
      }
    }
  }

  .input-field span {
    position: absolute;
    width: 1.4em;
    margin: 0.1em;
    padding: 0.15em;
  }

  .input-field input {
    padding-left: 1.7em;
  }
</style>
