<script lang="ts">
  export let value: string;
  export let group: string;
  export let required: boolean;
</script>

<label class="container">
  <slot />
  <input type="radio" bind:group {value} {required} />
  <span class="checkmark" />
</label>

<style>
  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-left: 2.2rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    user-select: none;
  }

  /* Hide the browser's default checkbox and radio button */
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      /* When the checkbox is checked, add a background */
      & ~ .checkmark {
        background-color: var(--color-success);

        /* Show the checkmark when checked */
        &:after {
          display: block;
        }
      }
    }

    & ~ .checkmark {
      /* Create the indicator (the dot/circle - hidden when not checked) */
      &:after {
        content: '';
        position: absolute;
        display: none;
      }

      /* when hovering over checkbox/radio button, change color */
      &:hover {
        background-color: var(--color-light-gray);
      }
    }
  }

  /* Style the radio indicator */
  input[type='radio'] {
    & ~ .checkmark {
      /* Create a custom radio button */
      position: absolute;
      top: 0.2rem;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: var(--color-gray);
      border-radius: 50%;

      /* Style the radio indicator */
      &:after {
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--color-text);
      }
    }
  }
</style>
