<script lang="ts">
  import Button from './Button.svelte';

  export let userInput = '';
  export let placeholder = '';
  export let id: string | null = null;
  export let required = false;
  export let autofocus = false;
  export let minlength = 0;
  // This prop can be passed to sync two or more SecretInput components, so
  // that they both hide/show their content at the same time.
  // When using a single SecretInput, this prop should not be passed unless
  // one wants to e.g. show the hidden content by default.
  export let showPassword = false;
</script>

<div class="input-with-button">
  <!-- svelte-ignore a11y-autofocus -->
  <!-- TODO: {...{ type }} is a workaround for current Svelte shortcoming
    - see e.g. https://github.com/sveltejs/svelte/issues/3921 -->
  <input
    bind:value={userInput}
    {placeholder}
    {required}
    {autofocus}
    {id}
    autocapitalize="none"
    autocomplete="off"
    autocorrect="off"
    {...{ type: showPassword ? 'text' : 'password' }}
    {minlength}
  />
  <span class="button-style">
    <Button
      icon={showPassword ? 'EyeSlash' : 'Eye'}
      size="x-small"
      on:click={() => (showPassword = !showPassword)}
      tabindex={-1}
      tooltip={showPassword ? 'hide secret' : 'show secret'}
    />
  </span>
</div>

<style>
  .input-with-button {
    padding-top: 0.3rem;
    display: flex;
    flex-direction: row;

    & input {
      width: 100%;
      padding-right: 50px;
    }
  }

  .button-style {
    margin-top: 0.2rem;
    margin-left: -1.8rem;
  }

  ::-ms-reveal,
  ::-ms-clear {
    display: none;
  }
</style>
