<script lang="ts">
  export let title: string;
  export let hidden = false;
</script>

<section class:hidden>
  <h2>{title}</h2>
  <div>
    <slot />
  </div>
</section>

<style>
  div {
    display: block;
    margin-bottom: 1.5rem;
  }
</style>
