<script lang="ts">
  import { toasts } from '../store/event';

  import Alert from './Alert.svelte';
</script>

{#if $toasts.length > 0}
  <div class="toasts">
    {#each $toasts as toast (toast.id)}
      <Alert
        level={toast.level}
        dismissible={toast.dismissible}
        onDismiss={() => toast.id !== undefined && toasts.dismiss(toast.id)}
      >
        {toast.message}
      </Alert>
    {/each}
  </div>
{/if}

<style>
  .toasts {
    position: fixed;
    bottom: 1rem;
    right: 1em;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0.5rem;
  }
</style>
