<script lang="ts">
  import { type TooltipDirection, type TooltipPosition } from './utils';

  export let ref: string;
  export let text: string | null = null;
  export let position: TooltipPosition;
  export let direction: TooltipDirection | null = 'center';
  // Setting compact to `true` brings the tooltip closer to the item
  // it belongs to.
  export let compact = false;

  // For the 'right' position, no text direction can be specified, as the text
  // will always to go the right.
  if (position === 'right') direction = null;
</script>

{#if text}
  <div class="tooltip tooltip-arrow {position}" class:compact {ref} />
  <div class="tooltip tooltip-text {position} {direction}" class:compact {ref}>
    {text}
  </div>
{/if}

<style>
  .tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 10;
    transition: visibility 0s;
    transition-delay: 0s;
    pointer-events: none;
  }

  .tooltip-text {
    text-align: left;
    white-space: nowrap;
    font-size: medium;
    background-color: #555;
    color: white;
    border-radius: 6px;
    line-height: 18px;
    padding: 5px 10px;

    /* Text position */
    &.top {
      top: -37px;
      &.compact {
        top: -31px;
      }
    }
    &.bottom {
      bottom: -37px;
      &.compact {
        bottom: -31px;
      }
    }
    &.right {
      right: -12px;
      top: 50%;
      transform: translateY(-50%) translateX(100%);
    }

    /* Text direction */
    &.to-right {
      left: 5%;
    }
    &.to-left {
      right: 5%;
    }
    &.center {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .tooltip-arrow {
    position: absolute;
    border-style: solid;
    margin-left: -6px;
    border-width: 6px;

    /* Arrow position */
    &.top {
      top: -10px;
      left: 50%;
      border-color: #555 transparent transparent transparent;
      &.compact {
        top: -4px;
      }
    }
    &.bottom {
      bottom: -10px;
      left: 50%;
      border-color: transparent transparent #555 transparent;
      &.compact {
        bottom: -4px;
      }
    }
    &.right {
      top: 50%;
      transform: translateY(-50%);
      right: -12px;
      border-color: transparent #555 transparent transparent;
    }
  }
</style>
